---
layout: default
---
		{% include nav.html %}
<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Banner -->
						<div id="banner" style="padding:0">
							<div class="container">
								<section style= "height:30em; width:auto">
									<header class="major">
										<h2><span><img src=assets/images/enviro-history-yellow-border3.png style="width:10em; height:auto" /></span></h2>
									</header>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2 style="font-size:1.6em; text-align:center">Writings, maps, and visualizations about the environment, nature, culture, and history.</h2>
						<br><h2 style="font-size:1.6em; text-align:center">Featured Pages</h2>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<h3><a href="visualizations/mysis/">The Mysis Crisis</a></h3>
							<a href="visualizations/mysis/" class="image feature"><img src="{{ site.baseurl }}/assets/images/mysis-capture.png" alt=""></a>
							<p>From 1949 to the 1980s, fisheries managers introduced tiny mysis shrimp into hundreds of freshwater lakes in North America, hoping to bolster sport fisheries. Instead, they often destroyed them. ...<a href="visualizations/mysis/">see the timeline and map</a></p></p></p>
						</section>
						<section class="4u">
							<h3><a href="whitey-on-the-moon">Whitey on the Moon</a></h3>
							<a href="whitey-on-the-moon" class="image feature"><img src="{{ site.baseurl }}/assets/images/earth-horizon.jpg" alt=""></a>
							<p>“We have a poem here,” a twenty-year-old Gil Scott-Heron begins in a soft voice that undersells the incendiary political commentary he is about to provide. “It’s called ‘Whitey on the Moon.’ And, uh, it was inspired, it was inspired by some whiteys on the moon.” ...<a href="whitey-on-the-moon">read more</a></p>
						</section>
						<section class="4u">
							<h3><a href="year-without-summer">A Year Without Summer</a></h3>
							<a href="year-without-summer" class="image feature"><img src="{{ site.baseurl }}/assets/images/time-of-the-ash-rain-landing.jpg" alt=""></a>
							<p>Courtney Blazon explores, in surreal detail, the effects of the eruption of Mount Tambora on the island of Sumbawa in 1815, capturing disease, death, folklore, climate change and even the birth of Frankenstein. ...<a href="year-without-summer">read more</a></p></p>
						</section>
					</div>

					<div class="row no-collapse-1">
						<section class="4u">
							<h3><a href="london-calling">London Calling</a></h3>
							<p>London's calling and it's drowning. “The ice age is coming, the sun is zooming in / Meltdown expected, the wheat is growin' thin.” Environmental apocalypse looms in Joe Strummer’s vision, and for good reason. ...<a href="london-calling">read more</a></p></p>
							<a href="london-calling" class="image feature"><img src="{{ site.baseurl }}/assets/images/wheat-kelleher-flickr.jpg" alt=""></a>
						</section>
						<section class="4u">
							<h3><a href="heston">Charlton Heston: Prophet of the Eco-Apocalypse?</a></h3>
							<p>No popular avatar better captured this tension between humanity as savior and humanity as destroyer than Charlton Heston, whose films pioneered the genre of post-apocalyptic eco-catastrophe. ...<a href="heston">read more</a></p>
							<a href="heston" class="image feature"><img src="{{ site.baseurl }}/assets/images/soylent-green.jpg" alt=""></a>
						</section>
						<section class="4u">
							<h3><a href="youngstown">Youngstown</a></h3>
							<p>Youngstown exposes a fundamental feature of industrial life for many blue-collar American workers in the twentieth century -- the degradation of the environment was synonymous with prosperity and financial security. ...<a href="youngstown">read more</a></p>
							<a href="youngstown" class="image feature"><img src="{{ site.baseurl }}/assets/images/kubrick.jpg" alt=""></a>
						</section>
					</div>


					<div class="row no-collapse-1">
						<section class="4u">
							<h2 style="text-align:center"> <a href="visualizations">More maps and visualizations</a></h2>
						</section>
						<section class="4u">
							<h2 style="text-align:center"> <a href="writings">More writings</a></h2>
						</section>
						<section class="4u">
							<h2 style="text-align:center"><a href="about">What is this website?</a></h2>
						</section>
					</div>
				</section>

			</div>

	{{ content }}
