---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section style= "height:30em; width:auto">
									<header class="major">
										<h2 style ="font-family:Copperplate Gothic">*Enviro <span><img src=assets/images/compass.svg alt="Compass Rose" style="vertical-align:middle; width:2em; height:auto" /></span> History</h2>
									</header>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<span class="byline">Maps, visualizations and writing on music, art, science and politics in environmental and historical perspective</span>
						<h2 style="padding-top:1.5em">Featured Pages</h2>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic02.jpg" alt=""></a>
							<p>Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic03.jpg" alt=""></a>
							<p>Donec ornare neque ac sem. Mauris aliquet. Aliquam sem leo, vulputate sed, convallis. Donec magna.</p>
						</section>
						<section class="4u">
							<a href="#" class="image feature"><img src="{{ site.baseurl }}/assets/images/pic04.jpg" alt=""></a>
							<p>Curabitur sem urna, consequat vel, suscipit convallis sem leo, mattis placerat, nulla. Sed ac leo.</p>
						</section>

					</div>
				</section>
			</div>

	{{ content }}
