---
layout: default
---

<!-- Header -->
			<div id="header">
				<div class="container">

					{% include nav.html %}

					<!-- Banner -->
						<div id="banner">
							<div class="container">
								<section style= "height:30em; width:auto">
									<header class="major">
										<h2 style ="font-family:Copperplate Gothic">Enviro <span><img src=assets/images/compass.svg alt="Compass Rose" style="vertical-align:middle; width:2em; height:auto" /></span> History</h2>
									</header>
								</section>
							</div>
						</div>

				</div>
			</div>

		<!-- Featured -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2 style="font-size:1.6em; text-align:center; color:#2F4F4F">Writings, maps, and visualizations about the environment, nature, and history.</h2>
						<p></P>
						<p></P>
						</br><h2 style="font-size:1.6em; text-align:center; color:#2F4F4F">Featured Pages</h2>
					</header>
					<div class="row no-collapse-1">
						<section class="4u">
							<a href="visualizations/mysis/" class="image feature"><img src="{{ site.baseurl }}/assets/images/mysis-capture.jpg" alt=""></a>
							<p>From 1949 until the 1980s, fisheries managers introduced mysis shrimp into hundreds of freshwater lakes in North America. The hoped that this shrimp would provide a self-sustaining food source for game fish in low-nutrient ("oligotrophic") lakes. In many cases, however, these introductions resulted in the destruction of the fisheries the shrimp were intended to bolster.<a href="visualizations/mysis/"> ...see the map</a></p></p></p>
						</section>
						<section class="4u">
							<a href="2017/04/15/whitey-on-the-moon.html" class="image feature"><img src="{{ site.baseurl }}/assets/images/scott-heron-small-talk.jpg" alt=""></a>
							<p>“We have a poem here,” a twenty-year-old Scott-Heron begins in a soft voice that undersells the incendiary political commentary he is about to provide. “It’s called ‘Whitey on the Moon.’ And, uh, it was inspired, it was inspired by some whiteys on the moon. So I want to give credit where credit is due.” <a href="2017/04/15/whitey-on-the-moon.html"> ...read more</a></p>
						</section>
						<section class="4u">
							<a href="2017/03/20/year-without-summer.html" class="image feature"><img src="{{ site.baseurl }}/assets/images/time-of-the-ash-rain-detail.jpg" alt=""></a>
							<p>The area around Sumbawa was known for breeding ponies. Those who survived the volcanic eruption in nearby countries lost so much food that they were forced to eat whatever they could—favorite animals included. They also mashed up leaves into a paste to provide some sustenance. In "Sur La Fin Du Monde," Blazon combined the two ideas with a picture of leaves falling out of the stomach of a rearing pony.<a href="2017/03/20/year-without-summer.html"> ...read more</a></p></p>
						</section>
					</div>
					<div class="row no-collapse-1">
						<section class="4u">
							<h2 style="text-align:center"> <a href="visualizations/">More maps and visualizations</a></h2>
						</section>
						<section class="4u">
							<h2 style="text-align:center"> <a href="writing/">More writings</a></h2>
						</section>
						<section class="4u">
							<h2 style="text-align:center"><a href="about">What is this website?</a></h2>
						</section>
					</div>
				</section>

			</div>

	{{ content }}
